.TabComponent{
   
   
    
    width: 50%;
   margin:10% 0 0 25%;
 
}
.Tabs{
    display: flex;
    width: 100%;
    height: auto;
    margin:auto ;
}
.tab{
    width: 350px;
    height:30px;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 3px;
    margin:auto ;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    background-color: transparent;
}
.tab:hover{
background:linear-gradient(#be5712,transparent) ;
}
.Content{
  
    width: 100%;
    
    height: 350px;
    
    

}
.tab-content{
    display: none;
    margin: 2% auto 0 auto;
    
    text-align: center;
    height: 500px;
    width: 900px;
  
    background-color:rgba(255, 255, 255, 0.233);
    font-family: 'Kanit', sans-serif;
    position: relative;
    line-height: 1.5em;
    word-spacing: 0.1em;

}
p{
 padding: 50px;

}
a{
    color: #fff;
}
a:hover{
    color: #be5712;
}