.footer{
    height:200px;
    background-color: #333131ee;
    width: auto;
    width: 90%;
    color: rgb(180, 175, 175);
    position: relative;
    margin: 2% 5% 0% 5%;
    .brand{
        display: inline;
        font-size: 70%;
        text-align: center;
        margin: 1% 0 0% 25%;
        
        img{
            margin-top: 1%;
            height: 40px;
            width:50px;
        }
        p{
            margin: -12% 0 0% 29%;
        position: absolute;
        color: #fff;
        font-weight: 800;
        font-size: 100%;
        }
    }
    
   

    
    .items{
        display: inline-flex;
        flex-direction: row;
        margin:2% 5%;
        .item{
            margin: 0% 20%;
            h5{
        font-size: 70%;
        color: #fff;
        font-weight: 500;

        
    }
            p{font-size: 50%;}
            
        }
    }
}